body {
    background: #000;
    color: #00ff9c;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 19px;
}

.code {
    border: 1px solid #00d47e;
    padding: 18px;
    margin: 15px 0;
    background: #00150c;
    box-shadow: inset 0 0 10px rgba(0, 212, 126, 0.3);
    font-size: 15px;
    line-height: 1.4;
}

.screen {
    max-width: 1230px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #00d47e;
    background: #000;
    box-shadow: 0 0 20px #00995c;
    font-size: 16px;
}

.ascii-title {
    color: #00ff9c;
    font-size: 18px;
    margin-bottom: 20px;
    white-space: pre;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: left;
}

.menu {
    display: block;
    padding: 10px 0;
}
.menu a {
    display: block;
    color: #00ff9c;
    text-decoration: none;
    padding: 2px 0;
}
.menu a:hover {
    color: #ffffff;
    background: #006b42;
}

.footer {
    color: #00c47a;
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}

body::after {
    content: "";
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0px,
        rgba(0, 0, 0, 0) 2px,
        rgba(0, 0, 0, 0.15) 3px
    );
    opacity: 0.25;
}
